body{
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

h1 {
  color: red;
  font-size: 100px;
  font-family: Munro, Impact;
  padding-top: 70px;
  margin-bottom: 0;
}

p{
	font-family: Comic Sans MS;
	color: grey;
	font-size: 20px;
}
canvas{
	z-index: -100;
	position: absolute;
	background-color: black;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;	
}

#instructions{
	position: fixed;
	right: 2vw;
	bottom: 2vw;
	color: white;
	font-size: 15px;
	border: 0.3vw solid grey;
	padding: 1vw;
	text-align: left;
}

